body {
    background-color: rgb(206, 213, 223);
    background-repeat: no-repeat;
    text-align: center;
}

#judul {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin: 0;
    font-size: 25pt;
    background-color: rgb(219, 229, 238);
}

table {
    display: inline-block;
}

#jdl {
    text-align: center;
}

#member {
    width: 85px;
    display: inline-block;
}

#mjudul {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#mjdw {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#mgenre {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#meps {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.left-div {
    width: 100px;
    display: inline-block;
}

.right-div {
    display: inline-block;
}
